/*this is my style sheet */
 * {
    color:#000000;
    font-family: Verdana, Sans-Serif;
}
#main {
    color:#00ffff;
    background:#000000;
}
#border {
    width:400px;
    margin: 0 auto 0 auto;
    border: 1px solid #000;
    padding: 10px;
    position:fixed;
}
#wrapper {
    width: 350px;
    margin: 0 auto 0 auto;
 
    padding: 10px;
}
h1 {
    font-family:"Gill Sans MT", Arial, Helvetica, sans-serif;
    color:#0000aa;
    width: 400px;
    margin: 0 auto 0 auto;
    padding: 0px;
}
 }
      
      nav li {
        display:inline;
      }
#Aboutme {
    font-family: Verdana, Sans-Serif;
    color:#000000;
    width:175px;
    margin:10px;
    padding: 2px;
    border:1px solid #000;
    text-align:left;
    float:left;
}
#education {
    font-family: Verdana, Sans-Serif;
    color:#000000;
    width:90px;
    margin:5px;
    padding: 2px;
    position:fixed;
    border:1px solid #000;
    text-align:left;
    float:left;
}
#work{
       font-family: Verdana, Sans-Serif;
    color:#000000;
    width:90px;
    margin:5px;
    padding: 2px;
    border:1px solid #000;
    text-align:left;
    float:right;
}
img {
    style=width: 10px;
    height:10px;
    padding: 20px;
    float: right;
}
header.page {
    font-family:"Gill Sans MT", Arial, Helvetica, sans-serif;
    color:#000000;
    margin:10px;
    padding: 5px;
    border:1px solid #000;
    text-align:left;
}
header.page h1:hover {
    color:#bbbbbb;
}
nav {
    text-align:center;
}
nav, article, aside {
    float:left;
}
div li {
    display:inline;
    padding:0;
    margin:0;
    padding-right: 20px;
}
a:link {
    color:#b00;
}
a:hover {
    color:#0b0;
}
a:visited {
    color: #660000;
}
a:active {
    color: #00c;
}
article {
    width:275px;
    margin:5px;
}
header.article {
}
aside li {
    list-style-type: square;
}
footer {
    clear: left;
    text-align:center;
    margin:10 px;
    border: 1px solid #000;
}
nav li {
    display:inline;
    padding:0;
    margin:0;
    padding-right: 20px;
}
<body> <style> body {
    background-color:#ff0000;
}

@media screen and (max-width: 960px){
    #border {
        width:94%;
    }
    #wrapper {
        width:94%;
    }
    #Aboutme {
        width: 65%;
    }
    #work {
        width: 65%;
    }
    #education {
        width: 28%;
    }
}
    @media screen and (max-width: 700px){
   #Aboutme {
        width: auto;
    }
    #work {
        width: auto;
    }
    #education {
        width: auto;
    }
}
    @media screen and (max-width: 480px){
        #h1 {
            font-size: 24px;
        }
    #Aboutme {
        width: auto;
    }
    #work {
        width: auto;
    }
    #education {
        width: auto;
    }
    }
</style>
