#main {
    color:#00ffff;
    background:#000000;
}
#wrapper {
    width:auto;
    margin: 0 auto 0 auto;
    border: 1px solid #777;
    background: rgb(0, 0, 0);
}
header.page {
    margin:10px;
    padding: 10px;
    border:1px solid;
    color: rgb(200, 200, 200);
    text-align:center;
    background: rgb(50, 50, 50);
}
header.page h1:hover {
    color:#444444;
}
#aboutme, #work, #education {
    float:left;
    width: 500px;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
#contactform {
    float:left;
    width: 250px;
    background: rgb(0,0,0);
    color: rgb(255,255,255);
}
a:link {
    color:rgb(100,100,100);
}
a:hover {
    color:rgb(50,50,50);
}
a:visited {
    color:rgb(150,150,150);
    text-decoration:none;
}
a:active {
    color:rgb(200,200,200);
}
#aboutme {
    width:400px;
    margin:10px;
    border: 1px solid #000;
}
#education {
    width:400px;
    margin:10px;
    border:1px solid #000;
    color:rgb(255, 255, 255);
    background: rgb(0,0,0);
}
#edu {
   font-family: Verdana, Sans-Serif;
    color:rgb(255,255,255);
    width:800px;
background: rgb(0,0,0);
    position:fixed;
    text-align:left;
    float:left;
}
#work {
    width:400px;
    margin:10px;
    border:1px solid #000;
}
#work2
{
    color:white;
}
footer {
    clear:left;
    border:1px solid #000;
    margin:10px;
    padding:10px;
}
@media screen and (max-width: 960px) {
    #wrapper {
        width: 100%;
    }
    #aboutme {
        width: 100%;
    }
    #education {
        width: 100%;
    }
    #work {
        width:100%;
    }
}
/* for 700px or less */
 @media screen and (max-width: 700px) {
    #aboutme {
        width: auto;
        float: none;
    }
    #education {
        width: auto;
        float: none;
    }
    #work {
        width: auto;
        float: none;
    }
}
/* for 480px or less */
 @media screen and (max-width: 480px) {
    header.page {
        height: auto;
    }
    h1 {
        font-size: 24px;
    }
    #education #work {
        display: none;
    }
}
</style>
