#wrapper {
    width:960px;
    margin: 0 auto 0 auto;
    border: 1px solid #777;
}
header.page {
    margin:10px;
    padding: 10px;
    border:1px solid #000;
    text-align:center;
}
header.page h1:hover {
    color:#444444;
}
#aboutme, #work, #education  {
    float:left;
    width: 250px;
}
a:link {
    color:#777;
}
a:hover {
    color:#aaa;
}
a:visited {
    color:#660000;
    text-decoration:none;
}
a:active {
    color:#999900;
}
#aboutme {
    width:400px;
    margin:10px;
    border: 1px solid #000;
}
#education {
    width:200px;
    margin:10px;
    border:1px solid #000;
}
#work {
    width:200px;
    margin:10px;
    border:1px solid #000;
}
footer {
    clear:left;
    border:1px solid #000;
    margin:10px;
    padding:10px;
}
@media screen and (max-width: 960px) {
    #wrapper {
        width: 94%;
    }
    #aboutme {
        width: 65%;
    }
    #education {
        width: 28%;
    }
    #work {
        width:28%;
    }
}
/* for 700px or less */
 @media screen and (max-width: 700px) {
    #aboutme {
        width: auto;
        float: none;
    }
    #education {
        width: auto;
        float: none;
    }
    #work {
        width: auto;
        float: none;
    }
}
/* for 480px or less */
 @media screen and (max-width: 480px) {
    header.page {
        height: auto;
    }
    h1 {
        font-size: 24px;
    }
    #education #work {
        display: none;
    }
}
</style>
