body {background-image:url(http://bustagetroupe.files.wordpress.com/2012/04/black-background.jpg);}

#wrapper {
    width:auto;
    margin: 0 auto 0 auto;
    border: 1px solid #777;
    background: rgb(0, 0, 0);
}
header.page {
    margin:10px;
    padding: 10px;
    border:1px solid;
    color: rgb(200, 200, 200);
    text-align:center;
    background: rgb(50, 50, 50);
    font-size:32px;
}
header.page h1:hover {
    color:#444444;
}
nav {
    font-size: 28px;
}
#contactform, form-group {
    font-size:30px;
}
#aboutme, #work, #education, #work2, #edu {
    float:left;
    width: 380px;
    height: 300px;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size:26px;
}
#contactform {
    float:inline;
    width: 800px;
    background: rgb(0,0,0);
    color: rgb(255,255,255);
}
#video, #aboutme, #work, #education, #work2, #edu{
	float:left;
	display:inline;
}
#content {
	width:auto;
	height:500px;
}
a:link {
    color:rgb(100,100,100);
}
a:hover {
    color:rgb(50,50,50);
}
a:visited {
    color:rgb(150,150,150);
    text-decoration:none;
}
a:active {
    color:rgb(200,200,200);
}
#aboutme {
    width:300px;
    margin:10px;
    border: 1px solid #000;
}
#education, #edu {
    width:300px;
    margin:10px;
    border:1px solid #000;

}
#edu {
   font-family: Verdana, Sans-Serif;
    color:white;
    width:auto;
background: rgb(0,0,0);
  }
#work, #work2 {
    width:300px;
    margin:10px;
    border:1px solid #000;
}
#work2
{
font-family: Verdana, Sans-Serif;
    color:white;
    width:800px;
    background: rgb(0,0,0);
    width:auto;
}
#video {

	padding: 15px;
	float:center;
}
footer {
    clear:left;
    border:1px solid #000;
    margin:10px;
    padding:10px;
}
#video, #processing, .slides, .slide, .nav label{
	display: inline-block;
}
#processing
{
	  background-color: #333; color: #bbb; line-height: normal;
	  font-family: Lucida Grande, Lucida Sans, Arial, Helvetica Neue, Verdana, Geneva, sans-serif;
	  font-size: 11px; font-weight: normal; text-decoration: none;
		  line-height: 1.5em;
	}
	a img { 
		border: 0px solid transparent;
	}
	a, a:link, a:visited, a:active, a:hover { 
		color: #cdcdcd; text-decoration: underline;
	}
	h1 {
	    font-family: Arial, Helvetica Neue, Verdana, Geneva, sans-serif;
		width: 100%; letter-spacing: 0.1em;
		margin-bottom: 1em; font-size: 1.65em;
	}
	canvas { 
		display: block; 
		outline: 0px; 
		margin-bottom: 1.5em; 
	}
	#content { 
		margin: 50px auto 0px auto; padding: 25px 25px 15px 25px;
		width: 500px; min-width: 300px; overflow: auto;
		border-left: 1px solid #444; border-top: 1px solid #444; 
		border-right: 1px solid #333; border-bottom: 1px solid #333;
		background-color: #3d3d3d;
}
#col-md-12 {
	display:inline-block;
}


@import url(http://fonts.googleapis.com/css?family=Varela+Round);

html, body { background: #333 url("http://bustagetroupe.files.wordpress.com/2012/04/black-background.jpg"); }


	
.slides {
    padding: 0;
    width: 609px;
    height: 600px;
    display: block;
    margin: 0 auto;
    position: relative;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block; }

.slide {
    top: 0;
    opacity: 0;
    width: 609px;
    height: 600px;
    display: block;
    position: absolute;

    transform: scale(0);

    transition: all .7s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
}

.nav label {
    width: 200px;
    height: 100%;
    display: none;
    position: absolute;
	  opacity: 0;
    z-index: 9;
    cursor: pointer;

    transition: opacity .2s;

    color: #FFF;
    font-size: 156pt;
    text-align: center;
    line-height: 380px;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }

input:checked + .slide-container  .slide {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
	width: 100%;
	bottom: 9px;
	height: 11px;
	display: block;
	position: absolute;
	text-align: center;
}

.nav-dots .nav-dot {
	top: -5px;
	width: 11px;
	height: 11px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
	background: rgba(0, 0, 0, 0.8);
}


@media screen and (max-width: 960px) {
    #wrapper {
        width: 100%;
    }
    #aboutme, #video {
        width: 70%;
    }
    #education, #edu {
        width: 70%;
        background: rgb(0,0,0);
        color:rgb(255,255,255);
    }
    #work, #work2, #pics, #content{
        width:70%;
    }
    #pics
{
	height: 70%;
	display: inline-block;
}
#shark, #steve, #fifa {
	width: 300px;
	height: 480px;
	display: inline-block;
}
#processing, #content
{
	width:70%;
}

}
/* for 700px or less */
 @media screen and (max-width: 700px) {
    #aboutme {
        width: auto;
        float: none;
    }
    #education, #edu, #pics, #video{
        width: auto;
        float: none;
    }
    #work, #work2, #processing, #content{
        width: auto;
        float: none;
    }
     #pics {
        width:auto;
        height:200px;
        display: inline-block;
    }
    .slides {
    	display: 70%;
    }
}
/* for 480px or less */
 @media screen and (max-width: 480px) {
    header.page {
        height: auto;
    }
    h1 {
        font-size: 24px;
    }
        #aboutme, #education, #work, #edu, #work2, #video{
        width: auto;
        height:250px;
        background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
        float: none;
    }
    #education, #edu
    {
    	background:rgb(0,0,0);
    	color:rgb(255,255,255);
    }
    #pics {
        width:400px;
        height:100px;
        float:center;
	display: inline;
    }
    #processing, #content{
	display:none;
    }
    #video {
    	width: auto;
    	float: none;
    }
    .slides {
    	padding:2px;
    	width:auto;
    	height:550px;
    }
    .slide {
    	padding:2px;
    	width:auto;
    	height:550px;
    }
    .nav label {
    	padding:2px;
    	width:auto;
    }
    
}
</style>
